.no-chat-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 20px;
}

.no-chat-image {
  max-width: 100%;
  max-height: 300px;
  margin-top: 20px;
}

.start-chat-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff; /* Bootstrap primary color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-chat-button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

.chat-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 68%;
}